:root {
    --darkgreen: 92,20%,35%; /* HSL for #596d48 */
    --darkergreen: 92,20%,25%; /* darker */
}

@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}
html,body{
    height:100%;
    width:100%;
    min-width: 1150px;
    max-width: 1350px;
    margin:0;
}
.content, .splash{
    height:100%;
}
body {
    display:flex;
}

.splash{
    background-image: url("../img/halie-west-unsplash.jpg");
    color:#fff;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-width:535px;
}

.logo {
    font-family: Norse-Bold;
    width:100%;
    height: 150px;
    margin-bottom:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.5);
}
.logo>span {
    font-size: 72px;
}
.photo-credit {
    position: absolute;
    bottom:10px;
    align-self: center;
}
.photo-credit * {
    color:#fff;
    text-decoration: none;
}
.photo-credit a:hover {
    text-decoration: underline;
}
form{
    width:100%;
    display:flex;
    flex-wrap:wrap;
}

form li{
list-style: none;
display:inline;
width:260px;
margin-bottom: 25px;
}

label{
    display:block;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom:5px;
}
.content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:18px;
    font-weight:bold;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9fafb;
    
}
.content > * {
    padding-left:50px;
}

button {
    width:fit-content;
    color:#fff;
    font-weight: bold;
    background-color:hsl(var(--darkgreen));
    border:0;
    border-radius:5px;
    padding:15px 40px;
}

button:hover{
    background-color: hsl(var(--darkergreen));
}

.login {
    font-size: 14px;
    font-weight:normal;
}

.login * {
    text-decoration: none;
}
.login a{
    font-weight: bold;
}

.login a:link,
.login a:visited,
.login a:active {
    color: hsl(var(--darkgreen));
}

.login a:hover {
    text-decoration: underline;
    color: hsl(var(--darkergreen));
}

input {
    height: 20px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    outline: 1px solid #1d4ed8;
}

input:hover {
    background-color: #eee;
}

.error {
    outline: 1px solid red;
}
.password::after{
    margin-top: 2px;
    display:block;
    font-weight: normal;
    color:red;
    font-size:10px;
    content: "* Passwords do not match";
}
legend{
    width:100%;
    margin-bottom: 25px;
}
.blurb{
    margin-bottom: 25px;
}
.formDiv{
    background-color:white;
    box-shadow: 0px 5px 10px lightgray;
    margin-bottom: 25px;
}
