@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}
html,body{
    height:100%;
    width:100%;
}
div{
    height:100%;
    width:50%;
}
body {
    display:flex;
}

.splash{
    background-image: url("../img/halie-west-unsplash.jpg");
    color:#fff;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-family: Norse-Bold;
    width:100%;
    height: 150px;
    margin-bottom:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.5);
}
.logo>span {
    font-size: 72px;
}
.photo-credit {
    position: absolute;
    bottom:10px;
    align-self: center;
}
.photo-credit * {
    color:#fff;
    text-decoration: none;
}
.photo-credit a:hover {
    text-decoration: underline;
}
.content{

}